<div class="container">
  <div>

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#cart-modal">
      Carrito de compra
    </button>

    <div class="modal" id="cart-modal" tabindex="-1">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <input id="cid" type="hidden" value="">
          <div class="modal-body">
            <table>
              <thead>
                <tr>
                  <td>Nombre</td>
                  <td>Precio</td>
                  <td>Cantidad</td>
                  <td>Acciones</td>
                </tr>
              </thead>
              <tbody id="cart-body">
              </tbody>
            </table>
            {{!-- contendido del carrito --}}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-danger" onclick="delAllProdOnCart()" id="clrCartBt" disabled>Limpiar Carrito</button>
            <button type="button" class="btn btn-success">Comprar</button>
          </div>
        </div>
      </div>
    </div>

    <div class="mb-3 mt-3">
      <h1>Real Time Products</h1>
    </div>

    <form id="formProd" class="row g-3 mb-3">
      <div class="mb-3 col-auto">
        <label for="title" class="form-label">Title</label>
        <input class="form-control" id="title" type="text" name="title" required></input>
      </div>

      <div class="mb-3 col-auto">
        <label for="description" class="form-label">Description</label>
        <input class="form-control" id="description" type="text" name="description" required></input>
      </div>

      <div class="mb-3 col-auto">
        <label for="category" class="form-label">Category</label>
        <input class="form-control" id="category" type="text" name="category" required></input>
      </div>

      <div class="mb-3 col-auto">
        <label for="price" class="form-label">Price</label>
        <input class="form-control" id="price" type="text" name="price" required></input>
      </div>

      <div class="mb-3 col-auto">
        <label for="stock" class="form-label">Stock</label>
        <input class="form-control" id="stock" type="text" name="stock" required></input>
      </div>

      <div class="input-group">
        <button id="newProd" class="btn btn-success">Crear</button>
      </div>

    </form>

    <div class="mb-3">
      <h2>Productos</h2>
    </div>

    <div>
      <form class="mb-3">
        <div class="row g-3 align-items-center">
          <div class="col-auto">
            <label for="nameSrc" class="form-label">Busqueda por Nombre</label>
          </div>
          <div class="col-auto">
            <input class="form-control" id="bsq" type="text" name="title" required></input>
          </div>
          <div class="col-auto">
            <select id="orderSel" class="form-select">
              <option value="desc">Precio: mayor a menor</option>
              <option value="asc">Precio: menor a mayor</option>
            </select>
          </div>
          <div class="col-auto">
            <button id="filterBtn" class="btn btn-info">Filtrar</button>
          </div>
        </div>
      </form>

      <table class="table">
        <thead>
          <tr>
            <td>Nombre</td>
            <td>Descripcion</td>
            <td>Categoria</td>
            <td>Precio</td>
            <td>Stock</td>
            <td>Acciones</td>
          </tr>
        </thead>

        <tbody id="record">
        </tbody>
      </table>

      <nav>
        <ul id="pagination" class="pagination"></ul>
      </nav>
    </div>


  </div>
</div>


<script src="/products.js"></script>
<script src="/cart.js"></script>