<div>
  <h1>Real Time Products</h1>

  <form>
    Title <input id="title" type="text" name="title" required></input>
    Description <input id="description" type="text" name="description" required></input>
    Category <input id="category" type="text" name="category" required></input>
    Price <input id="price" type="text" name="price" required></input>
    Stock <input id="stock" type="text" name="stock" required></input>
  </form>

  <button id="send" onclick="newProd()">Enviar</button>


  <h2>Historial</h2>
  <table>
    <thead>
      <tr>
        <td>Nombre</td>
        <td>Descripcion</td>
        <td>Categoria</td>
        <td>Precio</td>
        <td>Stock</td>
      </tr>
    </thead>

    <tbody id="record">
    </tbody>
  </table>

</div>

<script>
  load()

  async function load() {
    const response = await fetch(
      'http://localhost:8080/products/all', {
      method: 'GET',
      headers: { "Content-Type": "application/json" }
    })
      .then(response => {
        return response.json()
      })
      .then(data => {
        let historial = document.getElementById("record");
        historial.innerHTML = "";

        data.payload.map(element => {
          historial.innerHTML += `
                  <tr>
                  <td> ${element.title} </td>
                  <td>${element.description}</td>
                  <td>${element.category}</td>
                  <td>$ ${element.price}</td>
                  <td>${element.stock} </td>
                  <td><button onclick="deleteProd(\'${element.id}\')">Eliminar</button></td>
                  </tr>
                  
  `
        })
      });

  }


  async function newProd() {
    let product = {
      "title": document.getElementById("title").value,
      "description": document.getElementById("description").value,
      "category": document.getElementById("category").value,
      "price": document.getElementById("price").value,
      "stock": document.getElementById("stock").value,
    }

    const response = await fetch(
      'http://localhost:8080/products/new', {
      method: 'POST',
      body: JSON.stringify(product),
      headers: { "Content-Type": "application/json" }
    }
    )
      .then(data => load());
  }



  async function deleteProd(id) {
    const response = fetch(
      'http://localhost:8080/products/' + id, {
      method: 'DELETE',
      headers: { "Content-Type": "application/json" }
    })
      .then(data => load());
  }


</script>